<body>

  <div class="dashboard-container" style="margin-left: 250px;">

        <div class="dashboard-item" >
          <app-cabine></app-cabine>
        </div>
        <div class="dashboard-item">
          <app-typeformation></app-typeformation>
        </div>
        <div class="dashboard-item">
          <app-actionrelise></app-actionrelise>
        </div>
        <div class="dashboard-item">
          <app-nbrhhr></app-nbrhhr>
        </div>
        <div class="dashboard-item">
          <app-tx></app-tx>
        </div>
</div>

</body>
<app-sidenavigation></app-sidenavigation>