<div class="container-fluid" style="border-radius: 10px;">
  <nav class="navbar" style="background-color:#45362d; border-radius: 10px;"  >
    <div class="container-fluid">
      <div style="margin-left: 270px;" class="profile-details">
        <div class="name-job" routerLink="/profile">
          <div class="profile_name">
            <h1 style="color:aliceblue;">{{connectedUser.username}}</h1>
          </div>
          <div class="job">
            <h5 style="color:aliceblue;">{{connectedUser.role}}</h5>
          </div>
        </div>
      </div>
      <div class="float-end">
        <button class="btn btn-outline-light" type="button" (click)="onLogOut()">Logout</button>
      </div>
    </div>
  </nav>

  <div class="row" >
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar" [class.d-none]="!sidebarVisible" style="background-color: rgb(248 149 66);">
      <a class="logo">
        <img src="https://www.keejob.com/media/recruiter/recruiter_14881/logo-14881-20180206-192420.JPG" (click)="toggleSidebar()" class="rounded">
      </a>
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a  [hidden]="!dashbord  " class="list-group-item list-group-item-action py-2 ripple" aria-current="true" routerLink="/dashbord-chart">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <a  [hidden]="!administration  " class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#adminMenu" role="button" aria-expanded="false" aria-controls="adminMenu">
            <i class="fas fa-user-cog fa-fw me-3"></i><span>Gestion D'administration</span>
          </a>
          <div class="collapse" id="adminMenu">
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/user/management">Users</a>
          </div>
          <a   [hidden]="!formation"  class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#stagiarMenu" role="button" aria-expanded="false" aria-controls="stagiarMenu">
            <i class="fas fa-users fa-fw me-3"></i><span>Gestion de stagiar</span>
          </a>
          <div class="collapse" id="stagiarMenu">
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/stagier">ajouter stagiar</a>
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/stage">ajouter Stage</a>
          </div>
          <a [hidden]="!recretement"  class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#recretementMenu" role="button" aria-expanded="false" aria-controls="recretementMenu">
            <i  class="fas fa-briefcase fa-fw me-3"></i><span>Gestion de recretement</span>
          </a>
          <div  class="collapse" id="recretementMenu">
            <a  [hidden]="isUser"class="list-group-item list-group-item-action py-2 ripple" routerLink="/candidat">candidats</a>
            <a  class="list-group-item list-group-item-action py-2 ripple" routerLink="/propooffre">ajouter proposition</a>
            <a [hidden]="isUser"class="list-group-item list-group-item-action py-2 ripple" routerLink="/offre">list des offre</a>
            <a [hidden]="isUser" class="list-group-item list-group-item-action py-2 ripple" routerLink="/recretemnt">recretement</a>
            <a  [hidden]="isUser"class="list-group-item list-group-item-action py-2 ripple" routerLink="/recdash">dashbord</a>
          </div>
          <a   [hidden]="!vesitemedicale" class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#medicaleMenu" role="button" aria-expanded="false" aria-controls="medicaleMenu">
            <i class="fas fa-user-md fa-fw me-3"></i><span>Gestion de vesite medicale</span>
          </a>
          <div class="collapse" id="medicaleMenu">
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/vesite">Add vesite</a>
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/recap">recap</a>
          </div>
          <a    [hidden]="!chauffeur"class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#chauffeurMenu" role="button" aria-expanded="false" aria-controls="chauffeurMenu">
            <i class="fas fa-car fa-fw me-3"></i><span>Gestion de choufeure</span>
          </a>
          <div  class="collapse" id="chauffeurMenu">
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/Chauffeur">choufeure</a>
          </div>
          <a  [hidden]="!formation"   class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" href="#formationMenu" role="button" aria-expanded="false" aria-controls="formationMenu">
            <i class="fas fa-chalkboard-teacher fa-fw me-3"></i><span>Gestion de Formation</span>
          </a>
          <div class="collapse" id="formationMenu">
            <a [hidden]="isUser" class="list-group-item list-group-item-action py-2 ripple" routerLink="/formation">Listes des formation</a>
            <a [hidden]="!issuperadmin" class="list-group-item list-group-item-action py-2 ripple" routerLink="/propositionformation">Besoin en formation</a>
            <a [hidden]="isUser"class="list-group-item list-group-item-action py-2 ripple" routerLink="/planning"> planning</a>
            <a [hidden]="isUser" class="list-group-item list-group-item-action py-2 ripple" routerLink="/dashbord-formation"> dashbord</a>
          </div>
          <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/profile">
            <i class="fas fa-user fa-fw me-3"></i><span>Profile</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/setting">
            <i class="fas fa-cog fa-fw me-3"></i><span>Setting</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple" (click)="onLogOut()">
            <i class="fas fa-sign-out-alt fa-fw me-3"></i><span>Logout</span>
          </a>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-md-auto col-lg-10 px-md-4">
      <!-- Your main content here -->
    </main>
  </div>
</div>
