<div>
  <app-sidenavigation></app-sidenavigation>
</div>
<body>
  <i style="color: blue; font-size: 20px;" class="fas fa-user"></i>
  <span class="text" style="color: blue; font-size: large;">Gestion des recretemnts :</span>
  <br><br>
  <div class="mb-3 float-right">
    <div class="btn-group mr-2">
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input name="searchTerm" class="form-control mr-sm-2" ngModel type="search" placeholder="Search recretement ...">
      </form>
      
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info">
        <i style="font-size: small;" class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
  <br><br>
  <!-- Formation table -->
  <div>
    <table class="table table-hover">
      <thead class="table-borderless">
        <tr class="text-center" style="text-align: center; font-size: small;">
          <th style="text-align: center">nomCondidat</th>
          <th style="text-align: center">commentaire</th>
          <th style="text-align: center">dateDemandeRec</th>
          <th style="text-align: center">departement</th>
          <th style="text-align: center">desisionType</th>
          <th style="text-align: center">emploiDemandeType</th>
          <!-- <th style="text-align: center">offreEmploi</th> -->
          <th style="text-align: center">recruteur</th>
          <th style="text-align: center">selectionPhase</th>
          <th style="text-align: center">sourceType</th>
          <th style="text-align: center">vueDecideur</th>
          <th style="text-align: center">vueGestionaire</th>
          <th style="text-align: center">vueRh</th>
       
          
          <th style="text-align: center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of recretemnts | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="text-center">
         
          <td>{{x.nomCondidat}}</td>

          <td>{{x.commentaire}}</td>
          <td>{{x.dateDemandeRec | date}}</td>
          <td>{{x.departement}}</td>
          <td>{{x.desisionType}}</td>
          <td>{{x.emploiDemandeType}}</td>
<!--           
          <td *ngFor="let y of x.offreEmploi">
            <span >{{ y.jobTitre}}</span>
          </td>  
           -->
          

          <td>{{x.recruteur}}</td>




          <td>{{x.selectionPhase}}</td>
          <td>{{x.sourceType}}</td>
          <td>{{x.vueDecideur}}</td>
          <td>{{x.vueGestionaire}}</td>
          <td>{{x.vueRh}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn"  (click)="editFormationInfo(x)" (click)="edit(x)">
                <i style="font-size: medium; color: grey;" class="fas fa-user-edit"></i>
              </button>
              <button class="btn btn" >
                <i style="font-size: small; color: red;" class="fas fa-trash"></i>
              </button>
             
              <button class="btn btn" (click)="convertCandidatToEmployee(x.idRecrutement)">
                <i style="font-size: medium; color: green;" class="fas fa-exchange-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="centered-element">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <button [hidden]="true" type="button" id="openFormationEdit" data-toggle="modal" data-target="#editFormationModal"></button>
</body>

<!-- Modal for viewing Formation details -->
<div class="modal fade bd-example-modal-lg" id="viewFormationModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Formation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-auto">
                <div class="mx-auto" style="width: 120px;">
                  <div class="d-flex justify-content-center align-items-center rounded">
                    <img class="rounded" height="120" width="120">
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for adding new Formation -->
<div class="modal draggable fade bd-example-modal-lg" id="addFormationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Formation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #newFormationForm="ngForm">
          <div class="form-group">
            <label for="module">Module</label>
            <input type="text" id="module" class="form-control" name="module" required ngModel>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" class="form-control" name="type" required ngModel>
          </div>
          <div class="form-group">
            <label for="categorie">Categorie</label>
            <input type="text" id="categorie" class="form-control" name="categorie" required ngModel>
          </div>
        
          <div class="form-group">
            <label for="description">description</label>
            <input type="text" id="description" class="form-control" name="description" required ngModel>
          </div>

          <div class="form-group">
            <label for="nbHeures">nbHeures</label>
            <input type="text" id="nbHeures" class="form-control" name="nbHeures" required ngModel>
          </div>
          
          <div class="form-group">
            <label for="proposePar">proposePar</label>
            <input type="text" id="proposePar" class="form-control" name="proposePar" required ngModel>
          </div>
          <button type="submit" class="btn btn-primary">Add Formation</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="new-formation-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing Formation -->
<div class="modal draggable fade bd-example-modal-lg" id="editFormationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Formation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editFormationForm="ngForm" (ngSubmit)="updaterec(editFormationForm)" >
          <div class="col-md-6">
            <label>idRecrutement:</label>      
            <input  type="text"   class="form-control"  id="idRecrutement" name="idRecrutement" ngModel required>
          </div>
          <div class="form-group">
            <label for="departement">departement</label>
            <input type="text" class="form-control" id="departement" [(ngModel)]="Recruitment.departement" name="departement" required>
          </div>


          <div class="form-group">
            <label for="recruteur">recruteur</label>
            <input type="text" class="form-control" id="recruteur" [(ngModel)]="Recruitment.recruteur" name="recruteur" required>
          </div>


          <div class="form-group">
            <label for="nomCondidat">nomCondidat</label>
            <input type="text" name="nomCondidat" class="form-control" id="nomCondidat" [(ngModel)]="Recruitment.nomCondidat" required>
          </div>
          <div class="form-group">
            <label for="commentaire">commentaire</label>
            <input type="text" class="form-control" id="commentaire" [(ngModel)]="Recruitment.commentaire" name="commentaire" required>
          </div>
          <div class="form-group">
            <label for="dateDemandeRec">dateDemandeRec</label>
            <input type="date" class="form-control" id="dateDemandeRec" [(ngModel)]="Recruitment.dateDemandeRec" name="dateDemandeRec" required>
          </div>
          
          <div class="form-group">
            <label for="emploiDemandeType">emploiDemandeType</label>
            <input type="text" class="form-control" id="emploiDemandeType" [(ngModel)]="Recruitment.emploiDemandeType" name="emploiDemandeType" required>
          </div>
          <div class="form-group">
            <label for="sourceType">sourceType</label>
            <input type="text" class="form-control" id="sourceType" [(ngModel)]="Recruitment.sourceType" name="sourceType" required>
          </div>
          <div class="form-group">
            <label for="selectionPhase">selectionPhase</label>
            <input type="text" class="form-control" id="selectionPhase" [(ngModel)]="Recruitment.selectionPhase" name="selectionPhase" required>
          </div>
          <div class="form-group">
            <label for="desisionType">desisionType</label>
            <input type="text" class="form-control" id="desisionType" [(ngModel)]="Recruitment.desisionType" name="desisionType" required>
          </div>
          
         
          <div class="form-group">
            <label for="vueGestionaire">vueGestionaire</label>
            <input type="text" class="form-control" id="vueGestionaire" [(ngModel)]="Recruitment.vueGestionaire" name="vueGestionaire" required>
          </div>
         
          <div class="form-group">
            <label for="vueDecideur">vueDecideur</label>
            <input type="text" class="form-control" id="vueDecideur" [(ngModel)]="Recruitment.vueDecideur" name="vueDecideur" required>
          </div>
        
          <div class="form-group">
            <label for="vueRh">vueRh</label>
            <input type="text" class="form-control" id="vueRh" [(ngModel)]="Recruitment.vueRh" name="vueRh" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Formation</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="edit-formation-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
