body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.creative-title {
    text-align: center;
    font-size: 3em;
    color: white;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    padding: 20px;
    margin: 0;
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    0% {
        background: linear-gradient(90deg, #ff8a00, #e52e71);
    }
    20% {
        background: linear-gradient(90deg, #34e89e, #0f3443);
    }
    40% {
        background: linear-gradient(90deg, #ff6f61, #6a1b9a);
    }
    60% {
        background: linear-gradient(90deg, #f9c80e, #d8336c);
    }
    80% {
        background: linear-gradient(90deg, #3498db, #2ecc71);
    }
    100% {
        background: linear-gradient(90deg, #e52e71, #ff8a00);
    }
}


.dashboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Adjust as needed for spacing between items */
    margin-left: 250px;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dashboard-item {
    flex: 1 1 30%; /* Flex properties for responsive behavior */
    max-width: calc(33.33% - 20px); /* Responsive three-column layout */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Example: Add box-shadow for a professional look */
    padding: 20px;
    background: white;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dashboard-item:nth-child(1) {
    animation-delay: 0.2s;
}

.dashboard-item:nth-child(2) {
    animation-delay: 0.4s;
}

.dashboard-item:nth-child(3) {
    animation-delay: 0.6s;
}

.dashboard-item:nth-child(4) {
    animation-delay: 0.8s;
}

.dashboard-item:nth-child(5) {
    animation-delay: 1s;
}

.dashboard-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .dashboard-item {
        max-width: 100%; /* Full width on smaller screens */
    }
}
