<body>
    <div>
        <app-sidenavigation></app-sidenavigation>
    </div>
<div [hidden]="!formation">
    <h1 class="creative-title"> Dashboard Formation </h1>

    <div class="dashboard-container">
        
        <div class="dashboard-item">
            <app-cabine></app-cabine>
        </div>
        <div class="dashboard-item">
           <app-pr></app-pr>        </div>
        <div class="dashboard-item">
            <app-typeformation></app-typeformation>
        </div>
        <div class="dashboard-item">
            <app-actionrelise></app-actionrelise>
        </div>
        <div class="dashboard-item">
            <app-nbrhhr></app-nbrhhr>
        </div>
        <div class="dashboard-item">
            <app-tx></app-tx>
        </div>
        <div class="dashboard-item">
         <app-cnfcpp></app-cnfcpp>        </div>
        <div class="dashboard-item">
            <app-Nbre></app-Nbre>      
           <app-eff></app-eff>  </div>
    </div>


    <h1 class="creative-title"> Dashboard satge </h1>


    <div class="dashboard-container">
   
        <div class="dashboard-item">
            <app-st></app-st>
        </div>
        <div class="dashboard-item">
            <app-typestage></app-typestage>
        </div>
    </div>
      </div>

      <div [hidden]="!recretement">
    <h1 class="creative-title">Dashboard recretemnt </h1>
    <div class="dashboard-container">
    <div class="dashboard-item">
        <app-conrec></app-conrec>
       
    </div>
    <div class="dashboard-item">
    <app-moderec></app-moderec>
    </div>
    <div class="dashboard-item">
        <app-dessition></app-dessition>
        </div>
    </div>
</div>

</body>
